/*Reworked Version*/
.backgroundimage
{
	background-image: url("ghanabackground.jpg");
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;   
	
}
.heading1
{
	margin-left: 35%;

}

.heading1info
{
	margin-right: 65%;
	font-size: 20;
	text-align: center;
	padding: 5px;
	
	
}

.userinput1
{
	padding: 15px;
	margin-left: 30%;
	margin-right: 40%;
	font-family: 'Ubuntu', sans-serif; 
	font-size:15px;
	border: solid black 2px;
	
	
	
}

.NameOutput1
{	
	background-image: url(namebackground.jpg);
	background-size: 100% 100%;
	padding: 25px;
	margin-left: 25%;
	margin-right: 25%;
	font-size: 45;
	font-family: 'Poppins', sans-serif;
	color: red;
	text-align: center;
	
	
	
	
	
	
}